* {
  box-sizing: border-box;
}
body {
  background-color: rgb(229, 224, 224);
}

.wrapper {
  max-width: 1184px;
  margin: 0px auto;
}

header {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 15px 0;
  position: sticky;
  top: 0;
}

header h1 {
  font-size: 3rem;
  font-weight: 900;
}
header p {
  padding-top: 20px;
}

.navigation {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px;
  position: relative;
  position: sticky;
  top: 114px;
}

.menu {
  padding: 10px 10px;
  transition: 0.3s ease;
}
.menu:nth-child(4) {
  justify-self: flex-end;
  background-color: rgb(0, 0, 0);
  position: absolute;
  right: 10px;
}
.menu:hover {
  opacity: 0.5;
}

img {
  width: 750px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

main {
  padding: 20px 0;
}

.container-Item {
  width: 100%;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}
h1 {
  font-size: 30px;
  font-weight: 900;
}
h3 {
  font-weight: 400;
  font-size: 1rem;
  padding: 10px 0px;
}
.container-Item p {
  padding: 10px 0;
}

.main-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.flex-main {
  gap: 10px;
}

.container-aboutMe {
  background-color: white;
  padding: 20px;
}

.container-aboutMe img {
  width: 100%;
  padding: 20px 0px;
}
footer {
  background-color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
  position: sticky;
  bottom: 0;
}
